*{
  box-sizing: border-box;
}
html,body a{
  text-decoration: none;
}
html,body{
  padding: 0;
  margin: 0;
  font-family: Ubuntu, sans-serif;
  
  scroll-snap-type:y mandatory;
}
header{
  /* background-color: aqua; */
  width: 100vw;
  height: 80px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  
}
#logo-div{
  width: 65px;
  height: 65px;
  padding: 20px 45px;
}
#logo{
  width: 70px;
  
}

.bgimage{
  height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
  background-position: center;
  background-size: cover;
}
.bgimage:first-child{
  
  background-image: url(/image/4.png);
  z-index: -30000;
  
}
.bgimage:nth-child(2){
  
  background-color: #691111;
  
}
.bgimage:nth-child(3){
  
  background-color: #146911;
  
}
.bgimage:nth-child(4){
  
  background-color: #112869;
  
}
.bgimage:nth-child(5){
  
  background-color: #693911;
  
}
.bgimage:last-child{
  
  background-color: #2a6911;
}

/* NAVIGATION */
nav {
  width: 700px;
  margin: 25px ;
  
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #ffb400;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #ffb30093;
}


/* stroke */

nav.fill ul li a {
  position: relative;
}

nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #ffb400;
  height: 1px;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: rgb(255, 255, 255);
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 0.9s forwards;
  -moz-animation: fill 0.5s forwards;
  opacity: 1;
}

/* Keyframes */
@-webkit-keyframes fill {
  0% {
      width: 0%;
      height: 1px;
  }
  50% {
      width: 100%;
      height: 1px;
  }
  100% {
      width: 100%;
      height: 100%;
      background: #ffb300;
  }
}

/*End of navigation*/
/*profile-pic*/
#profile{
  position: absolute;
  width: 420px;
  height: 420px;
  left: 20%;
  top: 25%;
}
#profile>#img1 {
  position: absolute;
  /* left: 18%;
  top: 25%;*/
  width: 420px; 
  z-index: 3;
}

#profile>#blob{
  position: absolute;
  left: -10%;
  top: -5%;
  width: 500px;
  scale: 1;
  z-index: 1;
}

#blob {
  transition: transform 0.2s ease-in-out;
  backface-visibility: hidden;
  
}

#profile:hover #blob{
  animation-name: jelly;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.25, 0.5, 0.5, 0.75);
  animation-iteration-count: 1;
  cursor: pointer;
}

@keyframes jelly {
  25%{
      transform: scale(0.95,1.09) rotate(5deg);
      
  }
  /* 50%{
      
      transform: rotate(10deg);
  } */
  75%{
      transform: scale(0.98,1.05) rotate(5deg);
      
  }
}
/*profile-pic done*/


/*intro*/
#breif-intro{
  position: absolute;
  /* background: #00AFF0; */
  left: 50%;
  top: 50%;
  transform: translate(-10%,-50%);
}
#breif-intro>div:first-child{
  font-size: 20px;
  font-weight: 600;
  position: relative;
  color: white;
  padding-bottom: 10px;
}
#breif-intro>div:nth-child(4){
  font-size: 20px;
  font-weight: 400;
  position: relative;
  color: white;
  width: 700px;
  line-height: 30px;

}

/*type writer*/
.container{
  overflow: hidden;
  position: relative;
  width: 600px;
  height: 50px;

  /* background-color: red; */
}
.container .text{
  position: relative;
  color: #ffb400;
  font-size: 40px;
  
  font-weight: 600;
}
.container .text.first-text{
  color: #FFF;
}
.text.sec-text:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  border-left: 2px solid #ffb400;
  animation: animate 4s steps(16) infinite;
}
@keyframes animate{
  40%, 60%{
      left: calc(100% + 4px);
  }
  100%{
      left: 0%;
  }
}
/*type writer close*/


/* button */

#btn{
  width: 400px;
  display: flex;
 gap: 20px;
 position: relative;
padding-top:10px ;
}

/* #breif-intro .button-1{
  position: absolute;
  left: 50%;
  top: 52%;  

}
#breif-intro #btn1{
  position: absolute;
  left: 60%;

} */
.button-1 {
--b: 3px;   /* border thickness */
--s: .5em; /* size of the corner */
--color: #ffb400;
cursor: pointer;

padding: calc(.5em + var(--s)) calc(.9em + var(--s));
color: var(--color);
--_p: var(--s);
background:
  conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
  var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
transition: .3s linear, color 0s, background-color 0s;
outline: var(--b) solid #0000;
outline-offset: .6em;
font-size: 16px;
border: 0;

user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}

.button-1:hover,
.button-1:focus-visible{
--_p: 0px;
outline-color: var(--color);
outline-offset: .05em;
font-size: 16px;
color: rgb(255, 255, 255);
}

.button-1:active {
background: var(--color);
color: #fff;
}
/* button done */

/*social media*/
.uld
{
position:absolute;
bottom:-0%;
left:50%;
transform: translate(-55%,0%);

margin:0;
padding:30px 10px;
display:flex;
/* flex-direction: column; */
gap: 45px;
}
.uld li
{
list-style:none;
margin:0 40px;

}
.uld li a .fa
{
font-size:40px;
color:#262626;
line-height:60px;
transition:.5s;
}
.uld li a 
{
position:relative;
display:block;
width:60px;
height:60px;
background:#fff;
text-align:center;
transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
transition:.5s;
transition-timing-function: linear;
box-shadow:-20px 20px 10px rgba(0,0,0,.5);
}
.uld li a:before
{
content:'';
position:absolute;
top:10px;
left:-20px;
height:100%;
width:20px;
background:#b1b1b1;
transition: .5s;
transform: rotate(0deg) skewY(-45deg);
}
.uld li a:after
{
content:'';
position:absolute;
bottom:-20px;
left:-10px;
height:20px;
width:100%;
background:#b1b1b1;
transition: .85s;
transform: rotate(0deg) skewX(-45deg);
}
.uld li a:hover
{
transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px,-20px);
box-shadow:-50px 50px 50px rgba(0,0,0,.5);
}
.uld li:hover .fa
{
color:#fff;
}

/* linkedin */
.uld li:hover:nth-child(1) a
{
background: #0084ff;
}
.uld li:hover:nth-child(1) a:before
{
background: #145dc6;
}
.uld li:hover:nth-child(1) a:after
{
background: #1170f9;
}

/* google plus */
.uld li:hover:nth-child(2) a
{
background: #e4405f;
}
ul li:hover:nth-child(2) a:before
{
background: #cb1d3d;
}
ul li:hover:nth-child(2) a:after
{
background: #ad344a;
}

/* github */
ul li:hover:nth-child(3) a
{
background: #34465d;
}
ul li:hover:nth-child(3) a:before
{
background: #253244;
}
ul li:hover:nth-child(3) a:after
{
background: #40536b;
}

/* twitter */
ul li:hover:nth-child(4) a
{
background: #00AFF0;
}
ul li:hover:nth-child(4) a:before
{
background: #166e9b;
}
ul li:hover:nth-child(4) a:after
{
background: #3c8eb9;
}

/* facebook */
ul li:hover:nth-child(5) a
{
background: #3b5999;
}
ul li:hover:nth-child(5) a:before
{
background: #2c3e64;
}
ul li:hover:nth-child(5) a:after
{
background: #516aa5;
}
.social-m{
  width: 400px;
  display: flex;
 gap: 30px;
 position: absolute;
 left: 50%;
 top: 52%; 
}
/*social media done*/

@media screen and (max-width: 1720px) {

.uld{
  scale: 0.9;
}
#profile{
  scale: 0.6;
  left: 50%;
  top: 5%;
  transform: translateX(-80%);
}
#breif-intro{
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;

}

#breif-intro>div:first-child{

  

}
#breif-intro>div:nth-child(4){

  left: 25%;
  transform: translateX(-25%);
  text-align: center;
}

#social-m>{
  scale: 0.8;
  }
  .container{
    /* left: 25%;
    transform: translateX(-25%); */
    display: flex;
    justify-content: center;
  }
  .bgimage:first-child{
    
    background-image: url(/image/5.png);
    z-index: -30000;
    
  }
  #btn{
  left: 25%;
  transform: translateX(-35%);
  }


}