*{
    box-sizing: border-box;
}
html,body a{
    text-decoration: none;
}
html,body{
    padding: 0;
    margin: 0;
    font-family: Ubuntu, sans-serif;
   
    scroll-snap-type:y mandatory;
}
header{
    /* background-color: aqua; */
    width: 100vw;
    height: 80px;
    position: absolute;
    display: flex;
    justify-content: space-between;

}
#logo-div{
    width: 65px;
    height: 65px;
    padding: 20px 45px;
}
#logo{
    width: 70px;

}

.bgimage{
    height: 100vh;
    width: 100vw;
    scroll-snap-align: center;
    background-position: center;
    background-size: cover;
}
.bgimage:first-child{

    background-image: url(/image/4.png);
    z-index: -30000;

 }
 .bgimage:nth-child(2){

background-color: #691111;

 }
 .bgimage:nth-child(3){
    
    background-color: #146911;
     
 }
 .bgimage:nth-child(4){

    background-color: #112869;

 }
 .bgimage:nth-child(5){
    
    background-color: #693911;

 }
 .bgimage:last-child{
   
    background-color: #2a6911;
 }
 
  /* NAVIGATION */
  nav {
    width: 700px;
    margin: 25px ;

  }
  nav ul {
    list-style: none;
    text-align: center;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #ffb400;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
  }
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all .5s;
  }
  nav ul li a:hover {
    color: #ffb30093;
  }
  
  
  /* stroke */

  nav.fill ul li a {
    position: relative;
  }

  nav.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #ffb400;
    height: 1px;
  }
  
  nav.fill ul li a {
    transition: all 2s;
  }
  
  nav.fill ul li a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
  }
  nav.fill ul li a:hover {
    color: rgb(255, 255, 255);
    z-index: 1;
  }
  nav.fill ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 0.9s forwards;
    -moz-animation: fill 0.5s forwards;
    opacity: 1;
  }
  
  /* Keyframes */
  @-webkit-keyframes fill {
    0% {
      width: 0%;
      height: 1px;
    }
    50% {
      width: 100%;
      height: 1px;
    }
    100% {
      width: 100%;
      height: 100%;
      background: #ffb300;
    }
  }
  
/*End of navigation*/

#profile>img:first-child {
    position: absolute;
    left: 18%;
    top: 25%;
    width: 420px;
    z-index: 3;
}

#profile>svg{
    position: absolute;
    left: 14.5%;
    top: 17%;
    width: 500px;
    scale: 0.9;
    z-index: 1;
}

#blob {
	transition: transform 0.2s ease-in-out;
	backface-visibility: hidden;
	
  }
  
  #profile:hover #blob{
	animation-name: jelly;
	animation-duration: 2s;
	animation-timing-function: cubic-bezier(0.25, 0.5, 0.5, 0.75);
	animation-iteration-count: 1;
    cursor: pointer;
  }
  
  @keyframes jelly {
	25%{
		transform: scale(0.95,1.09) rotate(5deg);
		
		}
		/* 50%{
		
		transform: rotate(10deg);
		} */
		75%{
		transform: scale(0.98,1.05) rotate(5deg);
		
		}
  }
#breif-intro:first-child{
    width: 500px;
    height: 100px;
    background-color: wheat;
    position: absolute;
}



